// colors Obj for 🌍
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'danger': $danger,
  'warning': $warning,
  'info': $info,
  'light': $light,
  'dark': $dark,
  'link': $white
);

// set btn text colors
@function set-text-color($color, $cName) {
  @if ($cName == 'link') {
    @return $primary;
  } @else if (lightness($color) > 70) {
    @return $black;
  } @else {
    @return $white;
  }
}

// set text decoration
@function set-dec($cName) {
  @if ($cName == 'link') {
    @return underline;
  } @else {
    @return none;
  }
}

// set text hover background color
@function set-hover-bg-color($cName, $color) {
  @if ($cName == 'link') {
    @return $color;
  } @else {
    @return darken($color, 10%);
  }
}

// set text hover color
@function set-hover-text-color($cName, $color) {
  @if ($cName == 'link') {
    @return darken($primary, 10%);
  } @else {
    @return set-text-color($color, $cName);
  }
}

// set background colors for btn-*[colors]'s
@mixin applyBtncolors() {
  @each $cName, $color in $theme-colors {
    .btn-#{$cName} {
      background-color: $color;
      color: set-text-color($color, $cName);
      border-color: $color;

      &:hover {
        background-color: set-hover-bg-color($cName, $color);
        color: set-hover-text-color($cName, $color);
        text-decoration: set-dec($cName);
      }
      &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem lighten($color, 10%);
      }
    }
  }
}

// set background colors for btn-outline-*[colors]'s
@mixin applyBtnOutlinecolors() {
  @each $cName, $color in $theme-colors {
    .btn-outline-#{$cName} {
      background-color: $white;
      color: $color;
      border-color: $color;

      &:hover {
        background-color: darken($color, 10%);
        color: set-text-color($color, $cName);
      }

      &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem lighten($color, 10%);
      }
    }
  }
}

// set cursor pointer mixin
@mixin cursor-pointer-mixin() {
  [type='button'],
  [type='reset'],
  [type='submit'],
  button {
    &:not(:disabled) {
      cursor: pointer;
    }
  }
  fieldset {
    &:disabled {
      a {
        &.btn {
          pointer-events: none;
        }
      }
    }
  }
  a {
    &.btn {
      &.disabled {
        pointer-events: none;
      }
    }
  }
}
