body {
  display: flex;
}

// Home page prettier styles
.container {
  border: 1px solid red;
  flex: 1;
  form {
    padding: 1rem;
    & > div {
      border: 1px solid green;
      margin: 2rem 0;
      padding: 1rem;
      background-color: #f8f9fa;

      h1 {
        text-align: center;
      }

      .custom {
        background-color: #fff;
        padding: 2rem;
      }
    }
  }
}

.prototype {
  padding: 1rem;
  flex: 1;
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  .form-control-sizing {
    .form-control {
      & + .form-control {
        margin-top: 1rem;
      }
    }
  }
}
